:root {
  --cbDark:rgb(93, 93, 93);
  --cbLight: rgb(179, 161, 127);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(23, 22, 20);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chessboard {
  display: grid;
  box-sizing:border-box;
  
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  margin-top: 30px;
  }

  .chessboard > * {
    width: 100px;
    height: 100px;
    
  }

.highlight {box-shadow: inset 0 0 0 3px #FAFF94; }
.whiteTile {background-color: var(--cbLight);}
.blackTile {background-color: var(--cbDark);}

.hero-grid {
  width: 70%;
  margin:auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 7px;
  grid-row-gap: 0px;
  }
  
  .gridchild1{ grid-area: 1 / 1 / 2 / 4; }
  .gridchild2{ grid-area: 1 / 4 / 2 / 5; }

  .container {
    max-width: 80%;
    border-radius: 10px;
    border: solid 2px rgb(70, 67, 61);;
    padding: 20px;
    margin-top: 30px;
    position: relative;
    height:400px
  }

  .form-select, .form-control  {
    width: 90%;
    margin-left: 20px;
    margin-bottom: 30px;
    background-color: rgb(28, 27, 24);
    color: rgb(231, 215, 186) !important;
    border-color: rgb(70, 67, 61);
  }

  a {
    text-decoration: none;
    color: rgb(231, 215, 186) !important;
  }

  .btn {
    position: absolute;
    
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    margin-top: 50px;

    background-color: rgb(28, 27, 24);
    color: rgb(231, 215, 186) !important;
    border-color: rgb(70, 67, 61);
    width: 50%
  }

  .form-select:hover, .form-control:hover, .btn:hover, .form-select:focus, .form-control:focus, .btn:focus {
    background-color: rgb(33, 31, 28);
  }

.setup-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 30px;
}